form {
    /* border: 1px solid #000000; */
    padding: 10px;
}

.form-group, .form-group-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 10px;
    font-size: 24px;
}

.form-group input {
    height: 60px;
    padding: 0 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
}

.form-group input:focus {
    outline: none;
}

.form-group-btn {
    align-items: center;
    margin: 20px 0;
}

.btn {
    width: 180px;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}

.input-remember {
    display: flex;
    font-size: 23px;
}

.input-remember label {
    margin-left: 0.25rem;
}

.message-help {
    margin-top: 10px;
    color: #478FFB;
    cursor: pointer;
}

.message-help:hover {
    color: #D73950;
}
