.home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-content .bx-menu,
.home-content .text {
    color: #233044;
    font-size: 35px;
}

.home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.dashboard {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 60px;
}

.calendar-envent .fc-toolbar-chunk .fc-toolbar-title {
    font-size: 18px;
    font-weight: 600;
}

.dashboard-events {
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    gap: 50px;
}

.dashboard-events-container {
    position: relative;
    height: 350px;
}

.dashboard-events-list {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 100%;
    overflow: auto;

    row-gap: 20px;
}

.dashboard-todos {
    flex-grow: 1.8;
}

.dashboard-todos-list {
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.todo .todo-description {
    /* overflow: hidden; */
    text-overflow: ellipsis;
    width: 50%;
}

.todo.even {
    background-color: #f2f2f2;
}

.dashboard-conversations {
    flex-grow: 1;
}

.dashboard-conversations-messages-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.dashboard-conversations-messages-list .card {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 10px;
    height: 50px;
}

.dashboard-conversations-messages-list .flex {
    column-gap: 20px;
}


.dashboard-conversations-messages-list .flex .contact-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.dashboard-conversations-messages-list .flex .contact-info span {
    color: #AAAAAA;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.dashboard-conversations-messages-list .card .card-hours {
    display: flex;
    align-items: flex-start;

}

.dashboard-conversations-messages-list .card .card-hours span {
    font-size: 12px;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;

}