.section_task {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.task-progress-container {
    width: 350px;
    height: 700px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.task-progress-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-progress #searchTask {
    border: none;
    background-color: rgb(236, 233, 233);
    border-radius: 15px;
    padding: 10px 15px;
    outline: none;
    font-size: 20px;
}

.task-add {
    cursor: pointer;
}

.task-add i {
    font-size: 30px;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    overflow-y: auto;
}

.task-done-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    display: flex;
    max-width: 100%;
    border: 1px solid rgb(175, 173, 173);
    border-radius: 10px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    /* animation: revealAnimation 1s cubic-bezier(0.5, 0, 0, 1) forwards; */
    transition-duration: 0.5s;
}

.task-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    flex: 1;
}

@keyframes revealAnimation {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.task-delete {
    /* display: none; */
    margin: -16px -46px -16px 16px;
    width: 32px;
    /* transition: 0.5s ease-in-out; */
}

/* .task:hover .task-delete {
    margin-right: 0;
    display: block;
    transition-duration: 0.5s;
} */

.task-description, .task-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.task-date {
    text-align: center;
}

.task-description {
    overflow: hidden;
}

.task-description h4 {
    margin: 0;
}

.task-description p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.task-description span {
    font-size: 14px;
    color: #818080;
}

.task-date p {
    font-size: 14px;

}

.task p {
    margin: 0;
}


.create {
    display: flex;
    flex-direction: column;
    width: 500px;
}

/* .create .control-input input {
    border: 1px solid #000000;
}

.create .control-input-select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.create .control-input-select select {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
}

.create .control-input label {
    margin-bottom: 10px;
    font-size: 17px;
}

.create .control-input label {
    margin-bottom: 10px;
    font-size: 17px;
}

.create .control-input textarea {
    padding: 10px;
    outline: none;
} */

.create .button-task {
    width: 25%;
}

.task-container {
    position: relative;
    width: 600px;
    height: 550px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.task-view-assigne, .task-view-date, .task-view-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-view-header div {
    display: flex;
    gap: 10px;
}

.task-view-date div {
    margin: 16px 0;
}

.task-view-date p span {
    margin-left: 10px;
}

.task-assigned {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .task-view-date input, select {
    margin-left: 10px;
} */


.task-view-description textarea {
    /* width: 100%; */
    height: 125px;
    background: #DFDCDC;
    border-radius: 5px;
    border: transparent;
    padding: 10px;
}

.task-view-body .task-view-description {
    display: flex;
    flex-direction: column;
}

.task-view-description div {
    height: 100px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(236, 233, 233);
    font-size: 15px;
    margin-top: 20px;
}

.task-view-description label {
    margin: 15px 0;
}

.edit {
    border: none;
    background: transparent;
    cursor: pointer;
}

.group-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.group-button button {
    margin: 0 10px;
}

.error-border {
    border: 1px solid red;
}