.content {
    position: relative;
    background: #f3f6ff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.menu-top {
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    display: flex;
    background: #ffffff;
}

.sidebar.close~.content {
    left: 78px;
    width: calc(100% - 78px);
}

/*  */
.home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-content .bx-menu,
.home-content .text {
    color: #233044;
    font-size: 35px;
}

.home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-content .text {
    font-size: 26px;
    font-weight: 600;
}

/* page notFound */


/* event card */
.event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-card {
    width: 350px;
    height: 80px;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.event-card .event-card-header {
    display: flex;
    justify-content: space-between;
}

.event-card .event-card-header h2 {
    font-size: 20px;
    margin: 0;
}

.event-card-badge {
    display: flex;
    gap: 10px;
}

.event-card-badge .badge {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 11px;
    background: #1f6feb;
    color: #ffffff;
}

.event-card .event-card-body p, .event-card-footer p {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}

.event-card-footer {
    width: 100%;
    /* position: relative; */
}

.event-card-footer p {
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-card-footer p::before {
    content: "";
    display: block;
    border-top: 2px solid black;
    width: 25px;
    height: 1px;
    /* position: absolute; */
    top: 50%;
    z-index: 1;
    /* flex: 1; */
}