.home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-content .bx-menu,
.home-content .text {
    color: #233044;
    font-size: 35px;
}

.home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-content .text {
    font-size: 26px;
    font-weight: 600;
}